    * {
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1300px;
        margin: 0 auto;
    }

    header {
        background: hsl(240, 5%, 7%);

    }

    a {
        text-decoration: none;
    }

    li {
        list-style: none;
    }

    ul {
        display: flex;
        gap: 20px;
    }

    ul li a {
        color: #A6A8AD;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        /* 125% */

    }

    .left {
        gap: 20px;
        align-items: center;
        display: flex;
    }

    .roo {
        justify-content: space-between;
        height: 80px;
        align-items: center;
        display: flex;
    }

    .hi {
        display: flex;
        padding: 8px 21px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 32px;
        border: 1px solid #FFF;
        background: #FFF;
        color: #121214;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.4px;
        /* 115% */
    }


    /* sec-1 */



    #sec-1 {
        background-size: cover;
        background-repeat: no-repeat;
        height: 744px;
        background-image: url(img/IMAGE.svg);
        padding-top: 186px;
    }

    .kl {
        width: 125px;
        height: 56px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #03F;
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        border: none;
    }


    .dsa {
        color: #FFF;
        font-family: Roboto;
        font-size: 72px;
        font-style: normal;
        font-weight: 400;
        line-height: 72px;
        /* 100% */
        letter-spacing: 1.08px;
        width: 513px;
    }

    .dad {
        margin-top: 26px;
        margin-bottom: 60px;
        color: #FFF;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 120% */
        width: 412px;


    }



    @media screen and (max-width:576px) {

        .container {
            max-width: 280px;
        }

        .dsa {
            width: 250px;
            font-size: 39px;
        }

        .dad {
            width: 240px;
        }

        .ul {
            display: none;
        }

        .right {
            display: none;
        }


    }

    .qator {
        height: 386px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .qator-2 {
        height: 386px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sda {
        margin-bottom: 12px;
        width: 159px;
        height: 36px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #03F;
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        margin-top: 21px;
    }

    .dsad {
        color: #FFF;
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        /* 128.571% */
    }

    .leeft {
        text-align: right;
    }

    .dsaf {
        margin-top: 12px;
        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
    }

    body {
        background: #121214;
    }


    @media screen and (max-width:568px) {

        .roghh img {
            width: 280px;
            height: 280px;
        }

        .qator {
            display: flex;
            padding-top: 70px;
            flex-direction: column-reverse;
        }

        .qator-2 {
            display: block;
        }

    }

    .pol {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        margin-bottom: 50px;
    }



    .box {

        padding-top: 20px;
        max-width: 421px;
        height: 453px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #F8F8F8;

    }

    .lg {
        width: 200px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .fh {
        margin: 0 auto;
        color: #000;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 25px;
        /* 125% */
        letter-spacing: 0.3px;
        width: 285px;
    }

    @media screen and (max-width:576px) {

        .pol {
            padding-top: 190px;
            display: block;


        }



        .box {
            margin-bottom: 20px;
        }

        .fh {
            width: 200px;
        }


    }

    footer {
        height: 80px;
        background: #344346;
    }

    .lefdt {
        display: flex;
        gap: 20px;
        height: 80px;
        align-items: center;

    }

    .sdasd {
        color: #A6A8AD;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 18px;
        /* 150% */
    }

    .dsafg {
        display: flex;
        gap: 20px;
    }



    @media screen and (max-width:576px) {


        .gr {
            list-style: none;
            width: 100px;
            margin: 0 auto;
            margin-bottom: 10px;
        }

        .dsafg {
            display: block;

        }

        .lefdt {
            display: block;
        }

        footer {
            padding-top: 10px;
            height: 380px;
        }

        .sdasd {
            font-size: 20px;
        }

    }

    @media screen and (min-width:576px) and (max-width:1024px) {
        
        .container {
            max-width: 780px    ;
        }
     
        .pol {
            padding-top: 190px;
            display: block;


        }




        .box {
            margin: 0 auto;
            margin-bottom: 20px;
        }
   

    }